<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    {{!-- <script src="/client.js"></script> --}}

    <title>Reg numbers</title>
</head>

<body>
    <div class="container">

        <form action="/add" method="POST">
        
            <h1>Regisration Numbers</h1>

            <div class="error">
                {{messages.error}}
            </div> <br>

            <div class="success">
                {{messages.success}}
            </div>  <br>


            <input type="text" name="plateNumber" class="regNumberEntered" placeholder="Enter registration number"
                value='{{regNumber.plateNumber}}'>
            <br>
            <br>
            <button type="submit" class="addButton">Add here</button>

        </form>
        <div class="filter">

            <h4>Filter by Town</h4>
            <input type="radio" name="town" valur="">Show all
            <input type="radio" name="town" value="CA">Cape Town
            <input type="radio" name="town" value="CJ">Stellenbosch
            <input type="radio" name="town" value="CY">Belville
            <input type="radio" name="town" value="CL">Paarl
        </div>
        <br>
            <a href="/delete"><button class="addButton1">Unpublish</button></a>
        <hr>
        <div class="">
            {{#each regNumber}}

            <div class="regNumbers"> {{this.platenumber}}</div>

            {{/each}}

        </div>
    </div>

<script src="client.js"></script>
</body>

</html>